<div class="off-canvas-content" data-off-canvas-content>
  <div class="title-bar floating-mobile-header">
    <div class="title-bar-right">
      <img src="./../assets/aspire_logo_green.svg" alt="Aspire Logo" />
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
<nav class="mobile-footer-nav">
  <ul class="flex-container">
    <li class="flex-child-grow" id="home" (click)="navigateTo('home')">
      <span class="ng-fa-icon">
        <img
          *ngIf="!homeSelected"
          src="./../assets/aspire_logo_grey.svg"
          alt="aspire logo"
        />
        <img
          *ngIf="homeSelected"
          src="./../assets/aspire_logo_green.svg"
          alt="aspire logo"
        />
      </span>
      <span class="footer-nav-title">Home</span>
    </li>
    <li class="flex-child-grow" id="cards" (click)="navigateTo('cards')">
      <fa-icon [icon]="faCreditCard"></fa-icon>
      <span class="footer-nav-title">Cards</span>
    </li>
    <li class="flex-child-grow" id="payments" (click)="navigateTo('payments')">
      <span class="ng-fa-icon">
        <img
          *ngIf="!paymentsSelected"
          src="./../assets/paymentsgrey.svg"
          alt="aspire logo"
        />
        <img
          *ngIf="paymentsSelected"
          src="./../assets/paymentsgreen.svg"
          alt="aspire logo"
        />
      </span>
      <span class="footer-nav-title">Payments</span>
    </li>
    <li class="flex-child-grow" id="credit" (click)="navigateTo('credit')">
      <fa-icon [icon]="faCircleUp"></fa-icon>
      <span class="footer-nav-title">Credit</span>
    </li>
    <li class="flex-child-grow" id="profile" (click)="navigateTo('profile')">
      <fa-icon [icon]="faUser"></fa-icon>
      <span class="footer-nav-title">Profile</span>
    </li>
  </ul>
</nav>
